.volume-box {
  grid-area: vl;
  height: 4.6rem;
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-column-gap: .5rem;
  align-items: center;
  margin-left: 1rem;

  &__icon,
  &__track {
    cursor: pointer;
  }

  &__icon {
    width: 3.2rem;
    height: 3.2rem;
  }

  &__track{
    height: 1rem;
    background-color: $color-bg;
  }
}